.notfound {
    display: flex;
    align-items: center;
    height: calc(100vh - 85px);
    h1 {
        margin-bottom: 50px;
        color: $mainRed;
        font-style: normal;
        font-weight: 500;
        font-size: 260px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.08em;
        span {
            display: inline-block;
            &:nth-of-type(1) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.3s;
            }
        }
    }
    .free-consultation {
        margin: 0 auto;
    }
}