.notfound {
    h1 {
        margin-bottom: 50px;
        color: $mainRed;
        font-style: normal;
        font-weight: 500;
        font-size: 320px;
        line-height: 306px;
        text-align: center;
        letter-spacing: -0.08em;
        span {
            display: inline-block;
        }
    }
    .free-consultation {
        margin: 0 auto;
    }
}