.footer {
    margin-top: 90px;
    padding: 100px 0 84px 0;
    background-color: $mainBlack;
    &-email__mob {
        display: none;
        line-height: 60px;
        margin-bottom: 40px;
        a {
            position: relative;
            color: $mainRed;
            font-style: normal;
            font-weight: 400;
            font-size: 68px;
            transition: all .3s ease-out;
            &::after {
                position: absolute;
                bottom: 0;
                content: "";
                display: block;
                width: 0%;
                height: 5px;
                background-color: $mainRed;
                transition: all .3s ease-out;
            }
        }
    }
    &-info {
        &__email {
            line-height: 60px;
            margin-bottom: 40px;
            a {
                position: relative;
                color: $mainRed;
                font-style: normal;
                font-weight: 400;
                font-size: 68px;
                transition: all .3s ease-out;
                &::after {
                    position: absolute;
                    bottom: 0;
                    content: "";
                    display: block;
                    width: 0%;
                    height: 5px;
                    background-color: $mainRed;
                    transition: all .3s ease-out;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        &__additional {
            ul {
                column-count: 2;
                li {
                    margin-bottom: 30px;
                    p {
                        margin: 0;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $mainWarm;
                    }
                    a {
                        display: inline-block;
                        margin-right: 30px;
                        color: $mainWarm;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        transition: all .3s ease-out;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            color: $mainRed;
                        }
                    }
                    address {
                        margin: 0;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $mainWarm;
                    }
                }
            }
        }
    }
    &-nav {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            // column-count: 2;
            li {
                // margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $mainWarm;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                    transition: all .3s ease-out;
                    &:hover {
                        color: $mainRed;
                    }
                }
            }
        }
    }
}