.main {
    &-heading {
        position: relative;
        h1 {
            max-width: calc(100% - 280px);
        }
        .underline-btn {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .big-image {
        max-width: 100%;
        width: 100%;
        height: 700px;
        background: url(../img/main-image.jpeg);
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 90%;
        background-size: 100%;
    }
}