.offer {
    padding: 90px 0;
    &-heading {
        margin-bottom: 70px;
    }
    &-collapse {
        &__item {
            margin-top: -1px;
            border-top: 1px solid $mainBlack;
            border-bottom: 1px solid $mainBlack;
            &-head {
                padding: 20px 0;
                .count {
                    color: $mainBlack;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 35px;
                }
                .strong {
                    width: 100%;
                    margin-left: 195px;
                    color: $mainBlack;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 35px;
                    i.icon {
                        transform: rotate(-45deg);
                        transition: all .3s ease-out;
                    }
                }
            }
            &-body {
                padding-left: 220px;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: all .5s ease-out;
                p {
                    color: $mainGray;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            &.active {
                .offer-collapse__item-head {
                    .strong {
                        i.icon {
                            transform: rotate(0);
                        }
                    }
                }
                .offer-collapse__item-body {
                    max-height: 300px;
                    margin-bottom: 20px;
                    opacity: 1;
                    visibility: visible;
                    transition: all .5s ease-out;
                }
            }
        }
    }
}