.article {
    &-heading {
        &__info {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            ul {
                display: flex;
                align-items: center;
                margin-right: 20px;
                li {
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        width: fit-content;
                        padding: 6px 10px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: $mainBlack;
                        letter-spacing: -0.02em;
                        text-transform: uppercase;
                        border: 1px solid #000000;
                        border-radius: 60px;
                    }
                }
            }
            small {
                font-style: normal;
                font-weight: 400;
                color: $mainBlack;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
            }
        }
    }
    &-thumbnail {
        max-width: 100%;
        width: 100%;
        height: 700px;
        margin-bottom: 80px;
        background: url(../img/main-image.jpeg);
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 90%;
        background-size: 100%;
    }
}

.article-description {
    .block-image__group {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        overflow: hidden;
        img {
            flex: 0 0 auto;
            width: 50%;
            max-width: 100%;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .section-heading__content {
        .normal-title {
            margin-bottom: 30px;
        }
    }
}