.steps {
    padding: 90px 0;
    &-list {
        &__item {
            margin-top: -1px;
            padding: 20px 0;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            span {
                color: $mainBlack;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
            }
            .strong {
                max-width: 165px;
                width: 100%;
                color: $mainBlack;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                text-align: left;
            }
            p {
                max-width: 470px;
                width: 100%;
                margin: 0;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $mainGray;
            }
        }
    }
}