.testimonials {
    overflow: hidden;
    &-heading {
        margin-bottom: 50px;
        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }
    &-carousel__nav {
        ul {
            display: flex;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 46px;
                height: 46px;
                background-color: $mainRed;
                border-radius: 50%;
                margin-right: 15px;
                transition: all .3s ease-out;
                &:hover {
                    background-color: $mainBlack;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &-carousel {
        &__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 500px;
            margin: 0 15px;
            padding: 30px;
            border: 1px solid $mainRed;
            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .surname {
                    color: $mainBlack;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                }
                .status {
                    color: $mainBlack;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    opacity: 0.7;
                }
            }
            &-bottom {
                .strong {
                    margin-bottom: 15px;
                    color: $mainBlack;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
    }
}