// Variables section large display spaces
$marginSizes: 16;
$paddingSizes: 16;

// Responsive spaces
@media (min-width: 320px) {
    // Exstra Small display
    @mixin margin-classes {
        @for $i from 1 through $marginSizes {
            $margin: $i * 10px;
    
            .m-exsmall-#{$i} {
                margin: $margin;
            }
    
            .ml-exsmall-#{$i} {
                margin-left: $margin;
            }
    
            .mr-exsmall-#{$i} {
                margin-right: $margin;
            }
    
            .mt-exsmall-#{$i} {
                margin-top: $margin;
            }
    
            .mb-exsmall-#{$i} {
                margin-bottom: $margin;
            }
        }
    }
    @include margin-classes;

    @mixin padding-classes {
        @for $i from 1 through $paddingSizes {
            $padding: $i * 10px;
    
            .p-exsmall-#{$i} {
                padding: $padding;
            }
    
            .pl-exsmall-#{$i} {
                padding-left: $padding;
            }
    
            .pr-exsmall-#{$i} {
                padding-right: $padding;
            }
    
            .pt-exsmall-#{$i} {
                padding-top: $padding;
            }
    
            .pb-exsmall-#{$i} {
                padding-bottom: $padding;
            }
        }
    }
    @include padding-classes;
}
@media (min-width: 576px) {
    // Small display
    @mixin margin-classes {
        @for $i from 1 through $marginSizes {
            $margin: $i * 10px;
    
            .m-small-#{$i} {
                margin: $margin;
            }
    
            .ml-small-#{$i} {
                margin-left: $margin;
            }
    
            .mr-small-#{$i} {
                margin-right: $margin;
            }
    
            .mt-small-#{$i} {
                margin-top: $margin;
            }
    
            .mb-small-#{$i} {
                margin-bottom: $margin;
            }
        }
    }
    @include margin-classes;

    @mixin padding-classes {
        @for $i from 1 through $paddingSizes {
            $padding: $i * 10px;
    
            .p-small-#{$i} {
                padding: $padding;
            }
    
            .pl-small-#{$i} {
                padding-left: $padding;
            }
    
            .pr-small-#{$i} {
                padding-right: $padding;
            }
    
            .pt-small-#{$i} {
                padding-top: $padding;
            }
    
            .pb-small-#{$i} {
                padding-bottom: $padding;
            }
        }
    }
    @include padding-classes;
}
@media (min-width: 768px) {
    // Medium display
    @mixin margin-classes {
        @for $i from 1 through $marginSizes {
            $margin: $i * 10px;
    
            .m-medium-#{$i} {
                margin: $margin;
            }
    
            .ml-medium-#{$i} {
                margin-left: $margin;
            }
    
            .mr-medium-#{$i} {
                margin-right: $margin;
            }
    
            .mt-medium-#{$i} {
                margin-top: $margin;
            }
    
            .mb-medium-#{$i} {
                margin-bottom: $margin;
            }
        }
    }
    @include margin-classes;

    @mixin padding-classes {
        @for $i from 1 through $paddingSizes {
            $padding: $i * 10px;
    
            .p-medium-#{$i} {
                padding: $padding;
            }
    
            .pl-medium-#{$i} {
                padding-left: $padding;
            }
    
            .pr-medium-#{$i} {
                padding-right: $padding;
            }
    
            .pt-medium-#{$i} {
                padding-top: $padding;
            }
    
            .pb-medium-#{$i} {
                padding-bottom: $padding;
            }
        }
    }
    @include padding-classes;
}
@media (min-width: 992px) {
    // Lagge display
    @mixin margin-classes {
        @for $i from 1 through $marginSizes {
            $margin: $i * 10px;
    
            .m#{$i} {
                margin: $margin;
            }
    
            .ml#{$i} {
                margin-left: $margin;
            }
    
            .mr#{$i} {
                margin-right: $margin;
            }
    
            .mt#{$i} {
                margin-top: $margin;
            }
    
            .mb#{$i} {
                margin-bottom: $margin;
            }
        }
    }
    @include margin-classes;

    @mixin padding-classes {
        @for $i from 1 through $paddingSizes {
            $padding: $i * 10px;
    
            .p-#{$i} {
                padding: $padding;
            }
    
            .pl-#{$i} {
                padding-left: $padding;
            }
    
            .pr-#{$i} {
                padding-right: $padding;
            }
    
            .pt-#{$i} {
                padding-top: $padding;
            }
    
            .pb-#{$i} {
                padding-bottom: $padding;
            }
        }
    }
    @include padding-classes;
}