@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, :after, :before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
html.hidden {
  height: 100vh;
  overflow-y: hidden;
}
html.is-ready .big-tittle__line {
  opacity: 1;
  transform: none;
  transition-duration: 0.8s;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.noise {
  position: relative;
}
.noise::after {
  content: "";
  position: fixed;
  left: -100%;
  top: -100%;
  width: 500%;
  height: 500%;
  background: url(../img/noise.png);
  -webkit-animation: noise 7s steps(10) infinite;
          animation: noise 7s steps(10) infinite;
  z-index: -1;
}

@-webkit-keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3%, -6%);
  }
  20% {
    transform: translate(9%, 3%);
  }
  30% {
    transform: translate(12%, -9%);
  }
  40% {
    transform: translate(-15%, 12%);
  }
  50% {
    transform: translate(-3%, -6%);
  }
  60% {
    transform: translate(12%, 0%);
  }
  70% {
    transform: translate(0%, 12%);
  }
  80% {
    transform: translate(4%, 4%);
  }
  90% {
    transform: translate(15%, 15%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3%, -6%);
  }
  20% {
    transform: translate(9%, 3%);
  }
  30% {
    transform: translate(12%, -9%);
  }
  40% {
    transform: translate(-15%, 12%);
  }
  50% {
    transform: translate(-3%, -6%);
  }
  60% {
    transform: translate(12%, 0%);
  }
  70% {
    transform: translate(0%, 12%);
  }
  80% {
    transform: translate(4%, 4%);
  }
  90% {
    transform: translate(15%, 15%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.big-tittle {
  margin: 0;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 124px;
  line-height: 110%;
  letter-spacing: -0.02em;
  perspective: 600px;
}

.normal-title, .portfolio-scrolling__left h2 {
  display: inline-block;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
}
.normal-title.location-mark, .portfolio-scrolling__left h2.location-mark {
  display: flex;
  align-items: baseline;
}
.normal-title.location-mark::before, .portfolio-scrolling__left h2.location-mark::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-image: url(../img/map-pin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section-slug {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 60px;
}

.underline-btn {
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #131313;
  transition: all 0.3s ease-out;
}
.underline-btn:hover {
  color: #FC4005;
}
.underline-btn:hover::before {
  background-color: #FC4005;
}
.underline-btn:hover::after {
  transform: rotate(45deg);
}
.underline-btn::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #131313;
}
.underline-btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../img/arrow-red-angle.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  padding: 0;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #131313;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #131313;
  transition: all 0.3s ease-out;
}
.submit-btn:hover {
  color: #FC4005;
  border-bottom: 1px solid #FC4005;
}

.social-links {
  position: relative;
  display: flex;
}
.social-links__item {
  position: relative;
  max-width: 440px;
  width: 100%;
  border: 1px solid #131313;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
.social-links__item:not(:nth-of-type(1)) {
  margin-left: -50px;
}
.social-links__item:nth-child(2n) {
  border: 1px solid #FC4005;
}
.social-links__item:nth-child(2n)::after {
  background-color: #FC4005;
  border: 1px solid #FC4005;
}
.social-links__item:nth-child(2n) .social-links__item-content span {
  color: #F3EFEB;
}
.social-links__item::after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #F3EFEB;
  content: "";
}
.social-links__item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social-links__item-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.social-links__item-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.social-links__item-content span {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #131313;
}

.section-heading__content p {
  margin-bottom: 30px;
}
.section-heading__content p:last-child {
  margin-bottom: 0;
}
.section-heading__content .block-image img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.smooth-image__wrap {
  max-width: 100%;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.smooth-image__wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.parallax-images__item {
  height: 700px;
  overflow: hidden;
}
.parallax-images__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 123px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #131313;
  position: fixed;
  top: 650px;
  left: 140px;
  transform: rotate(90deg);
}
.scroll-down i.icon img {
  width: 123px;
  height: 8px;
}

@-webkit-keyframes animateScrolldown {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes animateScrolldown {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.preloader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1100;
  background-color: #F3EFEB;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  cursor: none;
}
.preloader-page.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-out;
}
.preloader-page__letters {
  color: #FC4005;
  font-style: normal;
  font-weight: 600;
  font-size: 250px;
  line-height: 86%;
}
.preloader-page__counter {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.preloader-page__counter-line {
  position: relative;
  width: 270px;
  margin-right: 15px;
}
.preloader-page__counter-line::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #131313;
  opacity: 0.3;
}
.preloader-page__counter-line span {
  display: block;
  height: 1px;
  background-color: #131313;
}
.preloader-page__counter-number {
  min-width: 65px;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  opacity: 0.7;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #F3EFEB;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}
.overlay-container .overlay-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.overlay-container .overlay-menu__item {
  margin-bottom: 30px;
}
.overlay-container .overlay-menu__item:last-child {
  margin-bottom: 0;
}
.overlay-container .overlay-menu__item a {
  display: inline-block;
  color: #131313;
  font-size: 36px;
  line-height: 50px;
  transition: opacity 0.1s;
  text-decoration: none;
  cursor: pointer;
}

.progress-fill {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: #F3EFEB;
  border-radius: 50px;
}
.progress-fill__status {
  background-color: #FC4005;
}

.header {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #131313;
}
.header.sticky-active {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.header-menu nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-menu nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-menu nav ul li {
  margin-right: 30px;
}
.header-menu nav ul li:last-child {
  margin-right: 0;
}
.header-menu nav ul li a {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.header-menu nav ul li a:hover {
  color: #FC4005;
}
.header-mobile {
  position: relative;
  width: 30px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.header-mobile span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #131313;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border-radius: 5px;
  opacity: 1;
  z-index: 3;
}
.header-mobile span:nth-of-type(1) {
  top: 0px;
}
.header-mobile span:nth-of-type(2) {
  top: 10px;
}
.header-mobile span:nth-of-type(3) {
  top: 20px;
}
.header-mobile.open span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.2s ease-in-out;
}
.header-mobile.open span:nth-of-type(2) {
  opacity: 0;
}
.header-mobile.open span:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s ease-in-out;
}
.header-mobile:hover span:nth-of-type(2) {
  width: 50%;
  transition: 0.2s ease-in-out;
}

.main-heading {
  position: relative;
}
.main-heading h1 {
  max-width: calc(100% - 280px);
}
.main-heading .underline-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main .big-image {
  max-width: 100%;
  width: 100%;
  height: 700px;
  background: url(../img/main-image.jpeg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}

.works-card__thumbnail {
  max-width: 100%;
  height: 700px;
  margin-bottom: 15px;
  overflow: hidden;
}
.works-card__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-card__info {
  position: relative;
  padding-bottom: 15px;
}
.works-card__info::after {
  background-color: #131313;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  transition-delay: 0.4s;
}
.works-card__info a {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  transition-delay: 0.1s;
}
.works-card__info a i.icon {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.works-card__info a:hover i.icon {
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}
.works-card__info small {
  display: block;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  transition-delay: 0.2s;
}

.benefits-list__item {
  position: relative;
  max-width: 440px;
  width: 100%;
  background-color: #F3EFEB;
  border: 1px solid #000000;
  border-radius: 50%;
}
.benefits-list__item::after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #F3EFEB;
  content: "";
}
.benefits-list__item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.benefits-list__item-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.benefits-list__item-content {
  display: table-cell;
  vertical-align: middle;
}
.benefits-list__item-content .strong {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
}
.benefits-list__item-content p {
  margin: 0;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  opacity: 0.7;
}
.benefits-list__item:not(:nth-of-type(1)) {
  margin-left: -50px;
}
.benefits-list__item:nth-of-type(2) {
  border: 1px solid #FC4005;
}
.benefits-list__item:nth-of-type(2)::after {
  background-color: #FC4005;
}
.benefits-list__item:nth-of-type(2) .strong {
  color: #fff;
}
.benefits-list__item:nth-of-type(2) p {
  color: #fff;
}

.steps-list__item {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.steps-list__item:first-child {
  border-top: 1px solid #131313;
}
.steps-list__item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.steps-list__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.steps-list__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.steps-list__item:nth-of-type(4) {
  transition-delay: 0.4s;
}
.steps-list__item:nth-of-type(5) {
  transition-delay: 0.5s;
}
.steps-list__item span {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.steps-list__item .strong {
  max-width: 165px;
  width: 100%;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-align: left;
}
.steps-list__item p {
  max-width: 550px;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6D6D6D;
}

.banner-content {
  padding: 140px 0;
  background-color: #FC4005;
}
.banner-content h2.normal-title, .banner-content .portfolio-scrolling__left h2, .portfolio-scrolling__left .banner-content h2 {
  display: block;
  max-width: 992px;
  width: 100%;
  margin: 0 auto 40px;
  color: #fff;
  text-align: center;
}
.banner-content small {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  transition-delay: 0.4s;
}

.offer-collapse {
  margin-top: 70px;
}
.offer-collapse__item {
  position: relative;
  border: 0;
  border-bottom: 1px solid #131313;
  background: transparent;
}
.offer-collapse__item:first-child {
  border-top: 1px solid #131313;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.offer-collapse__item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.offer-collapse__item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.offer-collapse__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.offer-collapse__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.offer-collapse__item:nth-of-type(4) {
  transition-delay: 0.4s;
}
.offer-collapse__item:nth-of-type(5) {
  transition-delay: 0.5s;
}
.offer-collapse__item-head .accordion-button {
  padding: 20px 0;
  background: transparent;
  box-shadow: none;
}
.offer-collapse__item-head .accordion-button:focus {
  box-shadow: none;
}
.offer-collapse__item-head .accordion-button::after {
  display: none;
}
.offer-collapse__item-head .accordion-button .count {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
.offer-collapse__item-head .accordion-button .strong {
  width: 100%;
  margin-left: 70px;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  transition: all 0.3s ease-out;
}
.offer-collapse__item-head .accordion-button .strong i.icon {
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}
.offer-collapse__item-head .accordion-button:hover .count,
.offer-collapse__item-head .accordion-button:hover .strong {
  color: #FC4005;
}
.offer-collapse__item-head .accordion-button.collapsed .strong i.icon {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.offer-collapse__item-body {
  padding: 0;
  padding-bottom: 30px;
  transition: all 0.5s ease-out;
}
.offer-collapse__item-body p {
  margin-bottom: 15px;
  color: #6D6D6D;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.offer-collapse__item-body p:last-child {
  margin: 0;
}
.offer-collapse__item.active .offer-collapse__item-head .strong i.icon {
  transform: rotate(0);
}
.offer-collapse__item.active .offer-collapse__item-body {
  max-height: 300px;
  margin-bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out;
}

.testimonials {
  overflow: hidden;
}
.testimonials-heading {
  margin-bottom: 50px;
}
.testimonials-heading__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.testimonials-carousel__nav ul {
  display: flex;
}
.testimonials-carousel__nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #FC4005;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.3s ease-out;
}
.testimonials-carousel__nav ul li:hover {
  background-color: #131313;
}
.testimonials-carousel__nav ul li:last-child {
  margin-right: 0;
}
.testimonials-carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  margin: 0 15px;
  padding: 30px;
  border: 1px solid #FC4005;
}
.testimonials-carousel__card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials-carousel__card-top .surname {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.testimonials-carousel__card-top .status {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
}
.testimonials-carousel__card-bottom .strong {
  margin-bottom: 15px;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.clients-logo {
  height: 100%;
}
.clients-list__item {
  padding: 20px 0;
  border-bottom: 1px solid #131313;
  transition: all 0.3s ease-out;
}
.clients-list__item:first-child {
  border-top: 1px solid #131313;
}
.clients-list__item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.clients-list__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.clients-list__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.clients-list__item:nth-of-type(4) {
  transition-delay: 0.4s;
}
.clients-list__item:nth-of-type(5) {
  transition-delay: 0.5s;
}
.clients-list__item .strong {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  transition: all 0.3s ease-out;
}
.clients-list__item .location {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  transition: all 0.3s ease-out;
}
.clients-list__item:hover {
  border-bottom: 1px solid #FC4005;
  cursor: pointer;
}
.clients-list__item:hover .strong,
.clients-list__item:hover .location {
  color: #FC4005;
}

.blog-card__thumbnail {
  height: 420px;
  margin-bottom: 20px;
  overflow: hidden;
}
.blog-card__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease-out;
}
.blog-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog-card__info-date {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.7;
}
.blog-card__info-cat {
  padding: 8px 15px;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #131313;
  border-radius: 50px;
}
.blog-card__title {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  transition-delay: 0.6s;
}
.blog-card__title::after {
  background-color: #131313;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transition-delay: 0.8s;
}
.blog-card__title h3 a {
  display: flex;
  align-items: center;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  transition: all 0.3s ease-out;
}
.blog-card__title h3 a i.icon {
  margin-left: 15px;
  transition: all 0.3s ease-out;
}
.blog-card__title h3 a i.icon img {
  width: 30px;
  height: 30px;
}
.blog-card__title h3 a:hover {
  color: #FC4005;
}
.blog-card__title h3 a:hover i.icon {
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

.article-heading__info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.article-heading__info ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.article-heading__info ul li {
  margin-right: 15px;
}
.article-heading__info ul li:last-child {
  margin-right: 0;
}
.article-heading__info ul li a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #131313;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 60px;
}
.article-heading__info small {
  font-style: normal;
  font-weight: 400;
  color: #131313;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.article-thumbnail {
  max-width: 100%;
  width: 100%;
  height: 700px;
  margin-bottom: 80px;
  background: url(../img/main-image.jpeg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}

.article-description .block-image__group {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.article-description .block-image__group img {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.article-description .section-heading__content .normal-title, .article-description .section-heading__content .portfolio-scrolling__left h2, .portfolio-scrolling__left .article-description .section-heading__content h2 {
  margin-bottom: 30px;
}

.discussion-form__item {
  position: relative;
  margin-bottom: 35px;
  line-height: 0;
}
.discussion-form__item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.discussion-form__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.discussion-form__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.discussion-form__item:nth-of-type(4) {
  transition-delay: 0.4s;
}
.discussion-form__item-input {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #131313;
  box-sizing: border-box;
}
.discussion-form__item-input ~ .input-focus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FC4005;
  transition: all 0.4s ease-out;
}
.discussion-form__item-input:focus ~ .input-focus {
  width: 100%;
  transition: all 0.4s ease-out;
}
.discussion-form__item-input::-moz-placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.discussion-form__item-input:-ms-input-placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.discussion-form__item-input::placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.project-heading__info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.project-heading__info ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.project-heading__info ul li {
  margin-right: 15px;
}
.project-heading__info ul li:last-child {
  margin-right: 0;
}
.project-heading__info ul li a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #131313;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 60px;
}
.project-heading__info small {
  font-style: normal;
  font-weight: 400;
  color: #131313;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.project-thumbnail {
  max-width: 100%;
  width: 100%;
  height: 700px;
  margin-bottom: 80px;
  background: url(../img/main-image.jpeg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}

.portfolio-heading__info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.portfolio-heading__info ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.portfolio-heading__info ul li {
  margin-right: 15px;
}
.portfolio-heading__info ul li:last-child {
  margin-right: 0;
}
.portfolio-heading__info ul li a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #131313;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 60px;
}
.portfolio-heading__info small {
  font-style: normal;
  font-weight: 400;
  color: #131313;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.portfolio-thumbnail {
  max-width: 100%;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.portfolio-thumbnail.big-image {
  background: url(../img/main-image.jpeg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}
.portfolio-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.portfolio-scrolling {
  background-color: #131313;
}
.portfolio-scrolling__left {
  padding: 250px 0;
}
.portfolio-scrolling__left h2 {
  margin-bottom: 30px;
  color: #F3EFEB;
}
.portfolio-scrolling__left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #F3EFEB;
  line-height: 25px;
  opacity: 0.7;
}
.portfolio-scrolling__right {
  overflow: hidden;
}
.portfolio-scrolling__right-item {
  height: 700px;
  margin-bottom: 30px;
}
.portfolio-scrolling__right-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.location-map {
  height: 550px;
}
.location-map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team-list {
  margin-top: 80px;
}
.team-list__card-thumbnail {
  margin-bottom: 15px;
  overflow: hidden;
}
.team-list__card-thumbnail img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.team-list__card-info {
  position: relative;
  padding-bottom: 15px;
}
.team-list__card-info::after {
  background-color: #131313;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transition-delay: 0.4s;
}
.team-list__card-info .strong {
  margin-bottom: 10px;
  color: #131313;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  transition-delay: 0.1s;
}
.team-list__card-info .strong a {
  transition: all 0.3s ease-out;
}
.team-list__card-info .strong a:hover {
  opacity: 0.5;
}
.team-list__card-info .status {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  transition-delay: 0.2s;
}

.video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(../img/video-preview.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.video-wrapper::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  background-color: #131313;
  opacity: 0.4;
}
.video-wrapper a {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #F3EFEB;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 0 rgba(243, 239, 235, 0.5);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
          animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.video-wrapper a:hover {
  opacity: 0.8;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.notfound {
  display: flex;
  align-items: center;
  height: calc(100vh - 85px);
}
.notfound h1 {
  margin-bottom: 50px;
  color: #FC4005;
  font-style: normal;
  font-weight: 500;
  font-size: 260px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.08em;
}
.notfound h1 span {
  display: inline-block;
}
.notfound h1 span:nth-of-type(1) {
  transition-delay: 0.1s;
}
.notfound h1 span:nth-of-type(2) {
  transition-delay: 0.2s;
}
.notfound h1 span:nth-of-type(3) {
  transition-delay: 0.3s;
}
.notfound .underline-btn {
  margin: 0 auto;
}

.footer {
  margin-top: 90px;
  padding: 100px 0 84px 0;
  background-color: #131313;
}
.footer-email__mob {
  display: none;
  line-height: 60px;
  margin-bottom: 40px;
}
.footer-email__mob a {
  position: relative;
  color: #FC4005;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
}
.footer-email__mob a::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FC4005;
}
.footer-info__email {
  line-height: 60px;
  margin-bottom: 40px;
}
.footer-info__email a {
  position: relative;
  color: #FC4005;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
}
.footer-info__email a::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FC4005;
}
.footer-info__additional ul {
  -moz-column-count: 2;
       column-count: 2;
}
.footer-info__additional ul li {
  margin-bottom: 30px;
}
.footer-info__additional ul li p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3EFEB;
}
.footer-info__additional ul li a {
  display: inline-block;
  margin-right: 30px;
  color: #F3EFEB;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease-out;
}
.footer-info__additional ul li a:last-child {
  margin-right: 0;
}
.footer-info__additional ul li a:hover {
  color: #FC4005;
}
.footer-info__additional ul li address {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3EFEB;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.footer-nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.footer-nav ul li:last-child {
  margin-bottom: 0;
}
.footer-nav ul li a {
  color: #F3EFEB;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.footer-nav ul li a:hover {
  color: #FC4005;
}

@media (max-width: 1440px) {
  .big-tittle {
    font-size: 80px;
    line-height: 100%;
  }
  .social-links__item-content span {
    font-size: 36px;
  }
  .notfound h1 {
    font-size: 220px;
    line-height: 100%;
  }
}
@media (max-width: 1200px) {
  .underline-btn {
    font-size: 18px;
    line-height: 26px;
  }
  .big-tittle {
    font-size: 80px;
    line-height: 90px;
  }
  .normal-title, .portfolio-scrolling__left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .section-slug {
    margin-bottom: 30px;
  }
  .main .big-image {
    height: 500px;
  }
  .works-card__thumbnail {
    height: 550px;
  }
  .benefits-list__item .strong {
    margin-bottom: 15px;
    font-size: 70px;
  }
  .steps-list__item .strong {
    font-size: 21px;
  }
  .banner-content {
    padding: 70px 0;
  }
  .clients-logo img {
    width: 100%;
    height: 240px;
  }
  .testimonials-carousel__card {
    min-height: 450px;
  }
  .testimonials-carousel__card-top .surname {
    font-size: 14px;
  }
  .testimonials-carousel__card-top .status {
    font-size: 14px;
  }
  .testimonials-carousel__card-bottom .strong {
    font-size: 21px;
    line-height: 28px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer-info__email a {
    font-size: 56px;
    line-height: 60px;
  }
  .notfound h1 {
    font-size: 200px;
    line-height: 200px;
  }
  .parallax-images__item {
    height: 500px;
  }
  .portfolio-thumbnail {
    height: 500px;
  }
  .portfolio-scrolling__left {
    padding: 150px 0;
  }
  .portfolio-scrolling__right-item {
    height: 500px;
  }
}
@media (max-width: 992px) {
  .big-tittle {
    font-size: 80px;
    line-height: 115%;
  }
  .main-heading h1 {
    max-width: 100%;
  }
  .main-heading .underline-btn {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 30px;
  }
  .social-links {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .social-links__item {
    max-width: calc(50% - 30px);
    margin: 15px;
  }
  .social-links__item:not(:nth-of-type(1)) {
    margin-left: 15px;
  }
  .social-links__item:nth-child(2n) {
    border: 1px solid #131313;
  }
  .social-links__item:nth-child(2n)::after {
    background-color: #F3EFEB;
    border: 1px solid #F3EFEB;
  }
  .social-links__item:nth-child(2n) .social-links__item-content span {
    color: #131313;
  }
  .social-links__item:nth-child(1), .social-links__item:nth-child(4) {
    border: 1px solid #FC4005;
  }
  .social-links__item:nth-child(1)::after, .social-links__item:nth-child(4)::after {
    background-color: #FC4005;
    border: 1px solid #FC4005;
  }
  .social-links__item:nth-child(1) .social-links__item-content span, .social-links__item:nth-child(4) .social-links__item-content span {
    color: #F3EFEB;
  }
  .social-links__item-content span {
    font-size: 36px;
  }
  .header {
    padding: 20px 0;
  }
  .underline-btn {
    font-size: 16px;
    line-height: 24px;
  }
  .normal-title, .portfolio-scrolling__left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .section-slug {
    margin-bottom: 30px;
  }
  .main-heading {
    align-items: flex-start;
    flex-direction: column;
  }
  .main .big-image {
    height: 450px;
  }
  .works-card__thumbnail {
    height: 450px;
  }
  .works-card__info a {
    font-size: 18px;
    line-height: 26px;
  }
  .works-card__info small {
    font-size: 14px;
    line-height: 20px;
  }
  .benefits-list {
    flex-wrap: wrap;
  }
  .benefits-list__item {
    max-width: 50%;
  }
  .benefits-list__item:not(:nth-of-type(1)) {
    margin-left: -30px;
  }
  .benefits-list__item:nth-of-type(1) {
    transition-delay: 0.2s;
  }
  .benefits-list__item:nth-of-type(2) {
    transition-delay: 0.4s;
  }
  .benefits-list__item:nth-of-type(3) {
    transition-delay: 0.6s;
  }
  .benefits-list__item:last-child {
    margin-top: -50px;
    margin-bottom: 0;
  }
  .benefits-list__item .strong {
    margin-bottom: 15px;
    font-size: 70px;
  }
  .steps-list__item {
    flex-direction: column;
  }
  .steps-list__item .strong {
    margin: 15px 0;
    font-size: 28px;
    line-height: 40px;
  }
  .banner-content {
    padding: 70px 0;
  }
  .offer-collapse__item-head .accordion-button .count {
    font-size: 21px;
    line-height: 29px;
  }
  .offer-collapse__item-head .accordion-button .strong {
    font-size: 21px;
    line-height: 29px;
  }
  .offer-collapse__item-head .accordion-button .strong i.icon img {
    width: 30px;
    height: 40px;
  }
  .offer-collapse__item-body {
    padding: 15px 0;
  }
  .testimonials-carousel.slick-slider .slick-list {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonials-carousel.slick-slider .slick-list .slick-slide:nth-child(2n) {
    transform: rotate(0);
  }
  .testimonials-carousel.slick-slider .slick-list .slick-slide:nth-child(2n+1) {
    transform: rotate(0);
  }
  .testimonials-carousel__card {
    min-height: 400px;
    margin: 0 15px;
  }
  .clients-logo img {
    width: 100%;
    height: 240px;
  }
  .team-list {
    margin-top: 50px;
  }
  .team-list__card-thumbnail img {
    height: 400px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer-email__mob {
    display: block;
  }
  .footer-email__mob a {
    font-size: 77px;
    line-height: 65px;
  }
  .footer-email__mob a::after {
    height: 4px;
    bottom: 15px;
  }
  .footer-info__email {
    display: none;
  }
  .footer-info__additional ul {
    display: flex;
    flex-direction: column;
    -moz-column-count: auto;
         column-count: auto;
  }
  .footer-info__additional ul li {
    margin-bottom: 0;
  }
  .footer-info__additional ul li:nth-child(1) {
    order: 4;
  }
  .footer-info__additional ul li:nth-child(2) {
    order: 3;
    margin-bottom: 24px;
  }
  .footer-info__additional ul li:nth-child(3) {
    margin-bottom: 10px;
    order: 0;
  }
  .footer-info__additional ul li:nth-child(4) {
    margin-bottom: 24px;
  }
  .footer-info__additional ul li.footer-info__additional-link a {
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
  }
  .footer-info__additional ul li.footer-info__additional-phone a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  .footer-info__additional ul li address {
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .footer-nav ul li a {
    font-size: 14px;
    line-height: 20px;
  }
  .notfound h1 {
    font-size: 130px;
    line-height: 130px;
    margin-bottom: 30px;
  }
  .smooth-image__wrap {
    height: 600px;
  }
  .location .normal-title.location-mark, .location .portfolio-scrolling__left h2.location-mark, .portfolio-scrolling__left .location h2.location-mark {
    font-size: 24px;
    line-height: 33px;
  }
  .notfound {
    height: calc(100vh - 65px);
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .big-tittle {
    font-size: 60px;
  }
  .normal-title, .portfolio-scrolling__left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .section-slug {
    margin-bottom: 30px;
  }
  .social-links__item-content span {
    font-size: 36px;
  }
  .header-menu nav ul li {
    margin-right: 20px;
  }
  .main-heading {
    align-items: flex-start;
    flex-direction: column;
  }
  .main .big-image {
    height: 350px;
  }
  .main-about .main-heading {
    align-items: flex-start;
    flex-direction: column;
  }
  .main-about .main-heading h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .main-about .underline-btn {
    position: relative;
    bottom: 0;
  }
  .works-card__thumbnail {
    height: 450px;
  }
  .works-card__info a {
    font-size: 21px;
    line-height: 28px;
  }
  .works-card__info small {
    font-size: 16px;
    line-height: 24px;
  }
  .benefits-list {
    flex-wrap: wrap;
  }
  .benefits-list__item {
    max-width: 50%;
  }
  .benefits-list__item:not(:nth-of-type(1)) {
    margin-left: -30px;
  }
  .benefits-list__item:last-child {
    margin-top: -50px;
    margin-bottom: 0;
  }
  .benefits-list__item .strong {
    margin-bottom: 15px;
    font-size: 70px;
  }
  .steps-list__item {
    flex-direction: column;
  }
  .steps-list__item .strong {
    margin: 15px 0;
  }
  .banner-content {
    padding: 70px 0;
  }
  .offer-collapse {
    margin-top: 30px;
  }
  .offer-collapse__item-head .accordion-button .count {
    font-size: 21px;
    line-height: 29px;
  }
  .offer-collapse__item-head .accordion-button .strong {
    font-size: 21px;
    line-height: 29px;
  }
  .offer-collapse__item-head .accordion-button .strong i.icon img {
    width: 30px;
    height: 40px;
  }
  .offer-collapse__item-body {
    padding: 15px 0;
  }
  .testimonials-heading__block {
    flex-direction: column;
  }
  .testimonials-carousel__nav {
    margin-bottom: 30px;
  }
  .testimonials-carousel__card {
    min-height: 400px;
    margin: 0 15px;
  }
  .clients-logo img {
    width: 100%;
    height: 240px;
  }
  .clients-list__item:hover {
    border-bottom: 1px solid #131313;
  }
  .clients-list__item:hover .strong,
.clients-list__item:hover .location {
    color: #131313;
  }
  .footer {
    padding: 50px 0;
  }
  .footer .container .row {
    flex-direction: column-reverse;
  }
  .footer-email__mob {
    margin-bottom: 50px;
  }
  .footer-email__mob a {
    font-size: 56px;
    line-height: 45px;
  }
  .footer-email__mob a::after {
    height: 3px;
    bottom: 10px;
  }
  .footer-sdinfo__additional ul li p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-nav {
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .footer-nav ul {
    width: 100%;
  }
  .footer-nav ul li a {
    font-size: 16px;
    line-height: 24px;
  }
  .notfound h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .smooth-image__wrap {
    height: 500px;
  }
  .team-list {
    margin-top: 30px;
  }
  .team-list__card-thumbnail img {
    width: 100%;
    height: 300px;
  }
  .team-list__card-info .strong {
    font-size: 18px;
    line-height: 26px;
  }
  .team-list__card-info .status {
    font-size: 16px;
    line-height: 25px;
  }
  .video-wrapper {
    height: 500px;
  }
  .discussion-form {
    margin-top: 30px;
  }
  .article-heading__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .article-heading__info ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: -5px;
    margin-right: -5px;
  }
  .article-heading__info ul li {
    margin-right: 0;
    margin: 5px;
  }
  .article-heading__info ul li:last-child {
    margin-right: 0;
  }
  .article-heading__info small {
    margin-bottom: 15px;
  }
  .article-thumbnail {
    height: 500px;
  }
  .parallax-images__item {
    height: 500px;
  }
  .parallax-images__item:nth-of-type(1) {
    margin-bottom: 30px;
  }
  .portfolio-thumbnail {
    height: 500px;
  }
  .portfolio-scrolling {
    padding-bottom: 50px;
  }
  .portfolio-scrolling__left {
    padding: 80px 0 30px 0;
  }
  .portfolio-scrolling__right-item {
    height: 500px;
  }
}
@media (max-width: 576px) {
  .big-tittle {
    font-size: 50px;
  }
  .normal-title, .portfolio-scrolling__left h2 {
    font-size: 21px;
    line-height: 28px;
  }
  .section-slug {
    margin-bottom: 30px;
  }
  .social-links {
    margin-top: 30px;
  }
  .social-links__item-content span {
    font-size: 28px;
  }
  .header-menu {
    display: none;
  }
  .main-heading {
    align-items: flex-start;
    flex-direction: column;
  }
  .main .big-image {
    height: 350px;
  }
  .main-about .main-heading h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .works-card__thumbnail {
    height: 420px;
  }
  .benefits-list {
    flex-direction: column;
  }
  .benefits-list__item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .benefits-list__item:not(:nth-of-type(1)) {
    margin-left: 0;
  }
  .benefits-list__item:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .benefits-list__item .strong {
    margin-bottom: 15px;
    font-size: 110px;
  }
  .steps-list__item {
    flex-direction: column;
  }
  .steps-list__item .strong {
    margin: 15px 0;
  }
  .banner-content {
    padding: 70px 0;
  }
  .offer-collapse__item-head .accordion-button .count {
    font-size: 18px;
    line-height: 26px;
  }
  .offer-collapse__item-head .accordion-button .strong {
    margin-left: 30px;
    font-size: 18px;
    line-height: 26px;
  }
  .offer-collapse__item-head .accordion-button .strong i.icon img {
    width: 30px;
    height: 40px;
  }
  .testimonials-carousel__card {
    min-height: 350px;
    margin: 0 15px;
    padding: 25px;
  }
  .testimonials-carousel__card-bottom .strong {
    font-size: 18px;
    line-height: 26px;
  }
  .clients-logo img {
    width: 100%;
  }
  .clients-list__item .strong {
    font-size: 18px;
    line-height: 26px;
  }
  .clients-list__item .location {
    font-size: 18px;
    line-height: 26px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer-email__mob {
    margin-bottom: 30px;
  }
  .footer-email__mob a {
    font-size: 10.5vw;
    line-height: 1;
  }
  .footer-email__mob a::after {
    height: 2px;
    bottom: 8px;
  }
  .footer-nav ul {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .team-list {
    margin-top: 30px;
  }
  .team-list__card-thumbnail img {
    width: 100%;
    height: 400px;
  }
  .team-list__card-info .strong {
    font-size: 18px;
    line-height: 26px;
  }
  .team-list__card-info .status {
    font-size: 16px;
    line-height: 25px;
  }
  .overlay-container .overlay-menu__item {
    margin-bottom: 20px;
  }
  .overlay-container .overlay-menu__item a {
    font-size: 28px;
    line-height: 40px;
  }
  .smooth-image__wrap {
    height: 400px;
  }
  .location-map {
    height: 400px;
  }
  .video-wrapper {
    height: 400px;
  }
  .steps-list__item .strong {
    font-size: 18px;
    line-height: 26px;
  }
  .blog-card__title h3 a {
    font-size: 18px;
    line-height: 26px;
  }
  .article-heading__info ul {
    margin-right: 10px;
  }
  .article-heading__info ul li {
    margin-right: 10px;
  }
  .article-heading__info ul li:last-child {
    margin-right: 0;
  }
  .article-heading__info ul li a {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
  }
  .article-heading__info small {
    font-size: 14px;
    line-height: 24px;
  }
  .article-thumbnail {
    height: 400px;
  }
  .article-description .block-image__group {
    flex-direction: column;
  }
  .article-description .block-image__group img {
    width: 100%;
    max-width: 100%;
  }
  .article-description .block-image__group img:first-child {
    margin-bottom: 30px;
  }
  .portfolio-thumbnail {
    height: 400px;
  }
}
@media (max-width: 430px) {
  .big-tittle {
    font-size: 36px;
  }
  .social-links {
    margin-left: -5px;
    margin-right: -5px;
  }
  .social-links__item {
    max-width: calc(50% - 10px);
    margin: 5px;
  }
  .social-links__item:not(:nth-of-type(1)) {
    margin-left: 5px;
  }
  .social-links__item-content span {
    font-size: 21px;
  }
  .benefits-list__item .strong {
    margin-bottom: 15px;
    font-size: 60px;
  }
  .main-about .main-heading h1 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 34px;
  }
  .testimonials-carousel__card {
    min-height: 450px;
    margin: 0 10px;
    padding: 20px;
  }
  .testimonials-carousel__card-top {
    align-items: flex-start;
    flex-direction: column;
  }
  .testimonials-carousel__card-bottom .strong {
    margin-bottom: 15px;
    color: #131313;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
}/*# sourceMappingURL=style.css.map */