@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.noise {
  position: relative;
}
.noise::after {
  content: "";
  position: fixed;
  left: -100%;
  top: -100%;
  width: 500%;
  height: 500%;
  background: url(../img/noise.png);
  z-index: -1;
}

@-webkit-keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3%, -6%);
  }
  20% {
    transform: translate(9%, 3%);
  }
  30% {
    transform: translate(12%, -9%);
  }
  40% {
    transform: translate(-15%, 12%);
  }
  50% {
    transform: translate(-3%, -6%);
  }
  60% {
    transform: translate(12%, 0%);
  }
  70% {
    transform: translate(0%, 12%);
  }
  80% {
    transform: translate(4%, 4%);
  }
  90% {
    transform: translate(15%, 15%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3%, -6%);
  }
  20% {
    transform: translate(9%, 3%);
  }
  30% {
    transform: translate(12%, -9%);
  }
  40% {
    transform: translate(-15%, 12%);
  }
  50% {
    transform: translate(-3%, -6%);
  }
  60% {
    transform: translate(12%, 0%);
  }
  70% {
    transform: translate(0%, 12%);
  }
  80% {
    transform: translate(4%, 4%);
  }
  90% {
    transform: translate(15%, 15%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.big-tittle {
  margin: 0;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 124px;
  line-height: 126px;
  letter-spacing: -0.02em;
}
.big-tittle p {
  margin: 0;
}

.normal-title {
  max-width: 50%;
  width: 100%;
  margin: 0;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
}

.section-slug {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 60px;
}

.free-consultation {
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #131313;
  transition: all 0.3s ease-out;
}
.free-consultation:hover {
  color: #FC4005;
}
.free-consultation:hover::before {
  background-color: #FC4005;
}
.free-consultation::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #131313;
}
.free-consultation::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../img/arrow-red-angle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.submit-btn {
  padding: 0;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #131313;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #131313;
  transition: all 0.3s ease-out;
}
.submit-btn:hover {
  color: #FC4005;
  border-bottom: 1px solid #FC4005;
}

.social-links {
  margin-top: 90px;
}
.social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links ul li:not(:nth-of-type(1)) {
  margin-left: -50px;
}
.social-links ul li:nth-child(2n) a {
  color: #F3EFEB;
  background-color: #FC4005;
  border: 1px solid #FC4005;
}
.social-links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #131313;
  background-color: #F3EFEB;
  border: 1px solid #131313;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
.social-links ul li a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.section-heading {
  margin-bottom: 70px;
}
.section-heading .normal-title {
  flex: 0 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.cursor {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #131313;
  pointer-events: none;
  border-radius: 50%;
  background: transparent;
  -webkit-animation: moveCursor1 0.5s infinite alternate;
          animation: moveCursor1 0.5s infinite alternate;
  transition: all 0.2s ease-out;
  z-index: 999;
}
.cursor.white-cursor {
  border: 1px solid #F3EFEB;
}
.cursor.mclick {
  background: transparent;
  -webkit-animation: moveCursor2 0.5s forwards;
          animation: moveCursor2 0.5s forwards;
}

@-webkit-keyframes moveCursor1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
@-webkit-keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.header {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #000000;
}
.header.sticky-active {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.header-menu nav ul {
  display: flex;
}
.header-menu nav ul li {
  margin-right: 30px;
}
.header-menu nav ul li:last-child {
  margin-right: 0;
}
.header-menu nav ul li a {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.header-menu nav ul li a:hover {
  color: #FC4005;
}

.main {
  padding: 70px 0 90px 0;
}
.main-heading {
  margin-bottom: 60px;
}
.main .big-image {
  max-width: 100%;
  width: 100%;
  height: 700px;
  background: url(../img/main-image.jpeg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}

.works {
  padding: 90px 0 40px 0;
}
.works-card {
  margin-bottom: 50px;
}
.works-card__thumbnail {
  max-width: 100%;
  height: 700px;
  margin-bottom: 15px;
}
.works-card__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-card__info {
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}
.works-card__info a {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
}
.works-card__info small {
  display: block;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.7;
}

.benefits {
  padding: 90px 0;
}
.benefits-list__item {
  width: 440px;
  height: 440px;
  background-color: #F3EFEB;
  border: 1px solid #000000;
  border-radius: 50%;
}
.benefits-list__item:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.benefits-list__item:not(:nth-of-type(1)) {
  margin-left: -50px;
}
.benefits-list__item:nth-of-type(2) {
  background-color: #FC4005;
  border: 1px solid #FC4005;
}
.benefits-list__item:nth-of-type(2) .strong {
  color: #fff;
}
.benefits-list__item:nth-of-type(2) p {
  color: #fff;
}
.benefits-list__item .strong {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
}
.benefits-list__item p {
  margin: 0;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  opacity: 0.7;
}

.steps {
  padding: 90px 0;
}
.steps-list__item {
  margin-top: -1px;
  padding: 20px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.steps-list__item span {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.steps-list__item .strong {
  max-width: 165px;
  width: 100%;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}
.steps-list__item p {
  max-width: 470px;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6D6D6D;
}

.banner {
  padding: 90px 0;
}
.banner-content {
  padding: 140px 0;
  background-color: #FC4005;
}
.banner h2.normal-title {
  max-width: 992px;
  width: 100%;
  margin: 0 auto 40px;
  color: #fff;
  text-align: center;
}
.banner small {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.offer {
  padding: 90px 0;
}
.offer-collapse__item {
  margin-top: -1px;
  border-top: 1px solid #131313;
  border-bottom: 1px solid #131313;
}
.offer-collapse__item-head {
  padding: 20px 0;
}
.offer-collapse__item-head .count {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
.offer-collapse__item-head .strong {
  width: 100%;
  margin-left: 195px;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
.offer-collapse__item-head .strong i.icon {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.offer-collapse__item-body {
  padding-left: 220px;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.offer-collapse__item-body p {
  color: #6D6D6D;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.offer-collapse__item-body p:last-child {
  margin: 0;
}
.offer-collapse__item.active .offer-collapse__item-head .strong i.icon {
  transform: rotate(0);
}
.offer-collapse__item.active .offer-collapse__item-body {
  max-height: 300px;
  margin-bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out;
}

.testimonials {
  padding: 90px 0;
}
.testimonials-heading {
  margin-bottom: 50px;
}
.testimonials-heading__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-carousel__nav ul {
  display: flex;
}
.testimonials-carousel__nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #FC4005;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.3s ease-out;
}
.testimonials-carousel__nav ul li:hover {
  background-color: #131313;
}
.testimonials-carousel__nav ul li:last-child {
  margin-right: 0;
}
.testimonials-carousel.slick-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 0;
}
.testimonials-carousel.slick-slider .slick-list .slick-slide:nth-child(2n+1) {
  transform: rotate(3deg);
}
.testimonials-carousel.slick-slider .slick-list .slick-slide:nth-child(2n) {
  transform: rotate(-3deg);
}
.testimonials-carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  margin: 0 15px;
  padding: 30px;
  background-color: rgba(243, 239, 235, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid #FC4005;
}
.testimonials-carousel__card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials-carousel__card-top .surname {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.testimonials-carousel__card-top .status {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
}
.testimonials-carousel__card-bottom .strong {
  margin-bottom: 15px;
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.clients {
  padding: 90px 0;
}
.clients-logo {
  height: 100%;
}
.clients-list__item {
  padding: 20px 0;
  border-bottom: 1px solid #131313;
  transition: all 0.3s ease-out;
}
.clients-list__item .strong {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  transition: all 0.3s ease-out;
}
.clients-list__item .location {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  transition: all 0.3s ease-out;
}
.clients-list__item:hover {
  border-bottom: 1px solid #FC4005;
}
.clients-list__item:hover .strong,
.clients-list__item:hover .location {
  color: #FC4005;
}

.blog {
  padding: 90px 0;
}
.blog-card__thumbnail {
  height: 420px;
  margin-bottom: 20px;
  overflow: hidden;
}
.blog-card__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease-out;
}
.blog-card__thumbnail:hover img {
  transform: scale(1.2);
}
.blog-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog-card__info-date {
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity: 0.7;
}
.blog-card__info-cat {
  padding: 8px 15px;
  color: #131313;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 1px solid #131313;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}
.blog-card__info-cat:hover {
  color: #F3EFEB;
  background-color: #131313;
}
.blog-card__title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #131313;
}
.blog-card__title h3 a {
  color: #131313;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  transition: all 0.3s ease-out;
}
.blog-card__title h3 a:hover {
  color: #FC4005;
}
.blog-card__title i.icon img {
  width: 30px;
  height: 30px;
}

.discussion {
  padding: 90px 0;
}
.discussion-form__item {
  position: relative;
  margin-bottom: 35px;
  line-height: 0;
}
.discussion-form__item-input {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #131313;
  box-sizing: border-box;
}
.discussion-form__item-input ~ .input-focus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FC4005;
  transition: all 0.4s ease-out;
}
.discussion-form__item-input:focus ~ .input-focus {
  width: 100%;
  transition: all 0.4s ease-out;
}
.discussion-form__item-input::-moz-placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.discussion-form__item-input:-ms-input-placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.discussion-form__item-input::placeholder {
  color: rgba(19, 19, 19, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  margin-top: 90px;
  padding: 100px 0 140px 0;
  background-color: #131313;
}
.footer-info__email {
  margin-bottom: 50px;
}
.footer-info__email a {
  color: #FC4005;
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 102px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer-info__additional ul {
  -moz-column-count: 2;
       column-count: 2;
}
.footer-info__additional ul li {
  margin-bottom: 30px;
}
.footer-info__additional ul li p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3EFEB;
}
.footer-info__additional ul li a {
  display: inline-block;
  margin-right: 30px;
  color: #F3EFEB;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease-out;
}
.footer-info__additional ul li a:last-child {
  margin-right: 0;
}
.footer-info__additional ul li a:hover {
  color: #FC4005;
}
.footer-info__additional ul li address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3EFEB;
}
.footer-nav ul {
  -moz-column-count: 2;
       column-count: 2;
}
.footer-nav ul li {
  margin-bottom: 30px;
}
.footer-nav ul li:last-child {
  margin-bottom: 0;
}
.footer-nav ul li a {
  color: #F3EFEB;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.footer-nav ul li a:hover {
  color: #FC4005;
}/*# sourceMappingURL=style.css.map */